/*Stick Footer*/
/*=====================================*/
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}
  body {
    background-image: url("../images/weather.png");
}
  /*=====================================*/
  .carousel {
  	height: 400px !important;
  	perspective: 400px !important;
  }
  .hide {
  	visibility: hidden;
  }
div .background img{
  width: 100%;
}
.logo{
  width: 34px;
}

a {
  color: #546e7a;
}
.shadow {
  text-shadow: 2px 1px #000;
}


.responsive-img-fitPic{
  width:500px;
  height:500px;
}

