/*Stick Footer*/
/*=====================================*/
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}
  body {
    background-image: url("../images/weather.png");
}
  /*=====================================*/
  .carousel {
  	height: 400px !important;
  	perspective: 400px !important;
  }
  .hide {
  	display: none;
  }
